/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

:root {
  --main-bg-color: #fff;
  --main-text-color: #000;
  --text-subtite-color:#fff;
  --main-text-subtitle: #555555;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,ol,li{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* ********** SITE-HEADER START ********* */
.site-header {
  margin-bottom: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1.5px solid #E5E7EA;
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-start {
  display: flex;
  align-items: center;
}
.site-header-logo {
  margin-right: 36px;
}
.site-nav {
}
.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-item{
  position: relative;
  padding: 18px 16px;
  border-radius: 100px;
  cursor: pointer;
}

.site-nav-item:hover .site-nav-custom-list{
  display: block;
}

.site-nav-custom-list {
  display: none;
  position: absolute;
  z-index: 999999;
  padding: 28px 32px 28px 26px;
  top: 70px;
  left: 0;
  background: var(--main-bg-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.site-nav-custom-list-item:not(:last-child){
  margin-bottom: 36px;
}
.site-nav-custom-list-item-link {
  font-size: 18px;
  line-height: 22px;
  color: var(--main-text-color);
}

.site-nav-item-box{
  display: flex;
  align-items: center;
}

.site-nav-item:hover{
  background-color: #f5f5f5;
}
.site-nav-item:not(:last-child){
  margin-right: 24px;
}

.site-nav-item:hover .site-nav-arrow-box{
  transform: rotateZ(180deg);
  transition: ease 0.5s;
}


.site-nav-item-link {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--main-text-color);
}

.site-nav-arrow-box{
  color: var(--main-text-color);
}
.site-header-end {
  display: flex;
  align-items: center;
}
.site-header-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--main-text-color);
  margin-right: 24px;
}
.dark-mode {
  width: 58px;
  height: 58px;
  margin-right: 16px;
  border-radius: 50%;
  border: none;
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.dark-mode:hover{
  color: var(--main-text-color);
}

.dark-mode:active{
  background-color: #299764;
  color: #fff;
}
.js-modal {
  display: flex;
  align-items: center;
  padding: 18px 30px;
  border-radius: 100px;
  border: none;
  background-color: #299764;
  cursor: pointer;
}

.js-modal:hover{
  background-color: #077743;
}

.js-modal:active{
  background-color: #f5f5f5;
}

.js-modal:active .site-header-login-title{
  color: var(--main-text-color);
}

.js-modal:active .site-header-login-img{
  color: var(--main-text-color);
}

.site-header-login-title{
  font-size: 18px;
  line-height: 22px;
  color: var(--text-subtite-color);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
}
.site-header-login-img {
  color: #fff;
}

.burger{
  display: none;
  border: none;
  background-color: transparent;
}

.menu-burger{
  display: none;
  width: 100%;
  max-width: 475px;
  min-height: 100vh;
  padding: 24px 24px 40px 30px;
  background-color: var(--main-bg-color);
  transform: translateX(100%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  transition: ease 0.5s;
}
.site-nav-list-burger{
  display: flex;
  flex-direction: column;
}
.menu-burger-active{
  transform: translateX(0%);
}

.menu-burger-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 78px;
}

.close-button-burger{
  width: 58px;
  height: 58px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.site-nav-item-burger:not(:last-child){
  margin-bottom: 52px;
}
.site-nav-item-burger-link {
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  color: var(--main-text-color);
}

.site-nav-list-burger{
  margin-bottom: 497px;
}

.site-nav-item-burger-bottom:not(:last-child){
  margin-bottom: 16px;
}
.site-nav-item-burger-link-botton {
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: var(--main-text-subtitle);
}

.site-header-end-burger{
  display: flex;
  align-items: center;
}

/* ****** SITE HEADER RESPONSIVE START ****** */
@media only screen and (max-width: 1100px) {
  .site-header-wrapper{
    justify-content: space-between;
    flex-direction: column;
  }
}

@media only screen and (max-width: 834px) {
  .site-header-wrapper{
    flex-direction: row;
    justify-content: space-between;
  }
  .site-nav{
    display: none;
  }
  .site-header-end{
    display: none;
  }
  .burger{
    display: block;
  }
  
  .menu-burger{
    display: block;
  }
}

@media only screen and (max-width: 390px) {
  .site-nav-item-burger-link {
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: var(--main-text-color);
    
  }
  
  .site-header-end-burger{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .site-nav-list-burger{
    margin-bottom: 201px;
  }
  
  .menu-burger{
    width: 100%;
    max-width: 350px;
    min-height: 100vh;
  }
  
}
/* ****** SITE HEADER RESPONSIVE END ****** */

/* ********** SITE-HEADER START ********* */


/* ************ SITE MODAL START ********* */
/* MODAL STYLES START */
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.modal-open{
  display: flex;
}

.modal-window{
  position: fixed;
  width: 100%;
  max-width: 590px;
  padding: 24px 24px 40px 32px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: var(--main-bg-color);
  z-index: 9999999;
}



.modal-login-top {
  display: flex;
}
.modal-login-top-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: var(--main-text-color);
  margin: 0 auto;
}
.modal-close {
  width: 58px;
  height: 58px;
  background-color: #F5F5F5;
  /* margin-left: auto; */
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.modal-window-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #555555;
  margin-top: 0;
  margin-bottom: 32px;
}
.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-email {
  background: #FFFFFF;
  border: 1.5px solid #E5E7EA;
  border-radius: 82px;
  outline: none;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  margin-bottom: 16px;
}

.input-email:invalid:not(:placeholder-shown) {
  border: 2px solid #FF3B30;
}

.input-email:valid:not(:placeholder-shown) {
  border: 2px solid #299764;
}

.input-password::placeholder{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}

.input-email::placeholder{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.input-password {
  background: #FFFFFF;
  border: 1.5px solid #E5E7EA;
  border-radius: 82px;
  outline: none;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  margin-bottom: 8px;
}

.input-password-box{
  width: 100%;
}

.eye-img{
  position: absolute;
  bottom: 120px;
  right: 23px;
}

.input-password:invalid:not(:placeholder-shown) {
  border: 2px solid #FF3B30;
}

.input-password:valid:not(:placeholder-shown) {
  border: 2px solid #299764;
}
.input-password-title {
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #555555;
  margin-top: 0;
  margin-bottom: 26px;
}
.remember {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.input-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #299764;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.input-btn-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
}

/* ************ SITE MODAL END ********* */

/* ************** SITE MAIN STYLE START ************ */
/* *********** HERO SECTION START ********** */
/* Seccion principal */
/* Slider */

.hero-section{
  padding-bottom: 100px;
}
.main-slider {
  max-width: 1200px;
  height: 500px;
  background-color: transparent;
  position: relative;
}

.slider-img {
  position: relative;
  max-width: 1200px;
  height: 100%;
  scroll-snap-align: center;
  border-radius: 3px;
  display: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hero-section-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  z-index: 999;
  top: 0;
  bottom: 200px;
  right: 0;
  left: 0;
}

.hero-section-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}
.hero-section-subtitle {
  width: 100%;
  max-width: 416px;
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  
}
.hero-section-img{
  border-radius: 10px;
  
}
.slider-img img {
  max-width: 1200px;
  cursor: pointer;
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.slider-img.activo {
  display: block;
  transition: width 2s;
}


.label-search{
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  left: 0;
  right: 0;
  bottom: 30px;
  padding-top: 4px;
  padding: 4px;
}

.input-search{
  width: 100%;
  width: 500px;
  border-radius: 100px;
  border: none;
  outline: none;
  margin: 0 auto;
  margin-left: 30px;
}

.search-img{
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #299764;
  background-image: url(../images/Search.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.input-search::placeholder{
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
/* Fin Slider */

/* Seccion principal - RESPONSIVE */
@media (max-width: 576px) {
  .container-main {
    margin: 6.6em auto 0 auto;
    max-width: 100%;
    padding: 1em 1em;
  }
  .main-slider {
    max-width: 100%;
    height: 500px;
  }
  .slider-img {
    max-width: 100%;
  }
  .slider-img img {
    max-width: 100%;
    width: 100%;
  }
  .slider-imagenes {
    max-width: 100%;
    width: 100%;
  }
  .categorias-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 576px) {
  .container-main {
    max-width: 540px;
  }
  .main-slider {
    max-width: 540px;
    height: 500px;
  }
  .slider-img {
    max-width: 540px;
  }
  .slider-img img {
    max-width: 540px;
    width: 540px;
  }
  .slider-imagenes {
    max-width: 540px;
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container-main {
    max-width: 720px;
  }
  .main-slider {
    max-width: 720px;
    height: 500px;
  }
  .slider-img {
    max-width: 720px;
  }
  .slider-img img {
    max-width: 720px;
    width: 720px;
  }
  .slider-imagenes {
    max-width: 720px;
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container-main {
    max-width: 960px;
  }
  .main-slider {
    max-width: 960px;
    height: 500px;
  }
  .slider-img {
    max-width: 960px;
  }
  .slider-img img {
    max-width: 960px;
    width: 960px;
  }
  .slider-imagenes {
    max-width: 960px;
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-main {
    max-width: 1140px;
  }
  .main-slider {
    max-width: 1140px;
    height: 500px;
  }
  .slider-img {
    max-width: 1140px;
  }
  .slider-img img {
    max-width: 1140px;
    width: 1140px;
  }
  .slider-imagenes {
    max-width: 1140px;
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-main {
    max-width: 1320px;
  }
  .main-slider {
    max-width: 1320px;
    height: 500px;
  }
  .slider-img {
    max-width: 1320px;
  }
  .slider-img img {
    max-width: 1320px;
    width: 1320px;
  }
  .slider-imagenes {
    max-width: 1320px;
    width: 1320px;
  }
}
@media (min-width: 1624px) {
  .container-main {
    max-width: 1500px;
  }
  .main-slider {
    max-width: 1500px;
    height: 500px;
  }
  .slider-img {
    max-width: 1500px;
  }
  .slider-img img {
    max-width: 1500px;
    width: 1500px;
  }
  .slider-imagenes {
    max-width: 1500px;
    width: 1500px;
  }
}
@media (min-width: 1904px) {
  .container-main {
    max-width: 1740px;
  }
  .main-slider {
    max-width: 1740px;
    height: 500px;
  }
  .slider-img {
    max-width: 1740px;
  }
  .slider-img img {
    max-width: 1740px;
    width: 1740px;
  }
  .slider-imagenes {
    max-width: 1740px;
    width: 1740px;
  }
}

/* *********** HERO SECTION END ********** */

/* ******** CARS SECTION START ****** */


.tab{
  /* margin-top: 1000px; */
  list-style: none;
}

.tab__link{
  color: #000;
  text-decoration: none;
}

.tab__item--active .tab__link{
  border-bottom: 2px solid #000fff;
  background-color: #ff1493;
}

.panel{
  list-style: none;
}

.panel__item{
  display: none;
}

.panel__item--active{
  display: block;
}


/* ******** CARS SECTION END ****** */
/* ************** SITE MAIN STYLE END ************ */
